<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="/assets/images/faviconLogo.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script></script>
    <script src="/assets/js/app.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

    <a class="navbar-brand text-left" href="/">
        <img id="navLogo" src="/assets/images/small_logo.png">
    </a>

    <div class="container text-center" id="jumbo">
        <img class="logo1" src="/assets/images/Banner_logo2.png" alt="">
        <img class="logo2" src="/assets/images/Logo_smallBlue.jpg" alt="">
        </h1>

    </div>
    <div class="row">
        <div class="col-lg-12">

            {{{ body }}}

        </div>
    </div>
    </div>
</body>

</html>