<div class="row">
    <div class="col-md-6 offset-sm-3 text-center">
        <h5 class="card-title text-center" id="signIn">
            <strong>W E L C O M E</strong>
        </h5>
        <div class="card card-signin my-5">
            <div class="card-body">
                <form class="form-signin text-left">
                    <div class="form-label-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" required autofocus>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="password" class="form-control" placeholder="Password" required>

                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" id="submit-login">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>