<form action="/index" method="POST">
    <textarea type="text" name="name"></textarea>
     <textarea type="text" name="name"></textarea>
      <textarea type="text" name="name"></textarea>
       <textarea type="text" name="name"></textarea>
        <textarea type="text" name="name"></textarea>
         <textarea type="text" name="name"></textarea>
    <button type="submit" class="">Submit</button>
</form>