.jumbotron {
    background: url("../images/Banner_v1.jpg");
    background-size: 1105px 114px;
}

#navLogo {
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}

body {
    background: url("../images/SiteBG.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}

button:hover {
  opacity: 1;
  background-color: #3087b0;
  color: white;
};

.col-lg-12 {
  width: 100%;
};





/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/* @media (min-width: 1281px) {
  
  
} */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .jumbotron {

    background-size: 1025px 102px;
};
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .jumbotron {
    background: url("../images/Banner_v1.jpg");
    background-size: 500px 76px;
};

.col-lg-12 {
  width: 50%;
};

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .jumbotron {

    background-size: 300px 76px;
};

.col-lg-12 {
  width: 50%;
};
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .jumbotron {

    background-size: 200px 48px;
};

.col-lg-12 {
  width: 100%;
};
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .jumbotron {

    background-size: 100px 32px;
};
.col-lg-12 {
  width: 20%;
};
}